<%- include ('../partials/head'); %>

<header>
    <%- include ('../partials/navbar'); %>    
</header>

<main class="classroomData" data-classroom_id="<%= classroom._id %>">

    <div class="title1__container m-b-s">
        <h1 class="title title-1">Remove Absent Students</h1>
        <div class="rectangle"></div>
    </div>
    <h2 class="title-2 m-b-xl"><%= classroom.className%></h2>

    <div class="errors"></div>

    <div class="optionsContainer">
        <div class="options">
            <button class="game-Btn shuffle-studentsBtn"><i class="fas fa-random"></i></button>
            <button class="game-Btn refresh-studentsBtn"><i class="fas fa-sync-alt"></i></button>
            <button class="game-Btn refresh-gameBtn hide">Refresh</button>
            <button class="game-Btn save-gameBtn hide">End Game</i></button>
            <button class="game-Btn playGameBtn"><i class="fas fa-play"></i></button>
            <button class="game-Btn playAgainBtn hide">Play Again</button>
            <button class="game-Btn goToClassroomBtn hide">Classroom</button>
        </div>
    </div>

    <div class="game__container">
        <div class="preview__teams"></div>
        <div class="teams"></div>
    </div>
    
    
</main>
<%- include ('../partials/footer'); %>
<script type="module" src="/public/js/boysVsGirls/controller.js"></script>

</body>
</html>