<%- include ('../partials/head'); %>

<header>
    <%- include ('../partials/navbar'); %>
    <h2><%= classroom.className %></h2>

    
</header>
<main>
    <ul>
        <li>
            <a data-class_size="<%= students.length %>" class="checkTeams" href="/game/individual/<%= classroom._id %>">Individual Game</a>
            <a data-class_size="<%= students.length %>" class="checkTeams" href="/game/boysVsGirls/<%= classroom._id %>">Girls Vs Boys</a>
            <a data-class_size="<%= students.length %>" class="checkTeams" href="game/teamForm/<%= classroom._id %>">Team Game</a>
        </li>
    </ul>

    <div class="errors"></div>
    <div class="form__container">
        <h3>Add A Student</h3>
        <form action="/student/<%= classroom._id %>" class="form__update" method="post">
            <label for="addStudentName" class="">Name</label>
            <input class="" type="text" name="name" auto>
            <label for="addRadio-male" class="">male</label>
            <input class="" id="addRadio-male" type="radio" name="sex" value="male">
            <label for="addRadio-female" class="">female</label>
            <input class=""id="addRadio-female" type="radio" name="sex" value="female">
            <button class="update__submit--btn"><i class="fas fa-check"></i></button>
        </form>
    </div>
    
    <div class="student__list">
        <% students.forEach(function(student) { %> 
            <div class="student">
                <div class="student__name"><%= student.name %></div>
                <div class="right">
                    <% if (student.sex === 'male') { %> 
                        <div class="student__gender">
                            <i class="male fas fa-child"></i>
                        </div>
                    <% } else { %>
                        <div class="student__gender">
                            <i class="female fas fa-child"></i>
                        </div>
                    <% } %>
                    <div class="students__update">
                        <a><i class="updateStudent fas fa-sync-alt"></i></a>
                        <a href="/student/delete/<%= student._id %>"><i class="fas fa-trash-alt"></i></a>
                    </div>
                </div>
            </div>
            <div class="update__form hide">
                <form action="/student/update/<%= student._id %>" class="form__update" method="post">
                    <input class="update__name" type="text" name="name" value="<%= student.name %>" onfocus="this.setSelectionRange(this.value.length, this.value.length);"/>
                    
                    <label for="editRadio-male" class="">male</label>
                    <input class="" id="editRadio-male" type="radio" name="sex" value="male">
                    
                    <label for="editRadio-female" class="">female</label>
                    <input class=""id="editRadio-female" type="radio" name="sex" value="female">
                    
                    <button class="update__submit--btn"><i class="fas fa-check"></i></button>
                </form>
            </div>
        <% }) %>
    </div>
</main>

<script type="module" src="/public/js/classroom/controller.js"></script>

</body>
</html>
    
   

        
    
    

