<%- include ('../partials/head'); %>

<header>
    <%- include ('../partials/navbar'); %>
    <h1>Classrooms</h1>
    <h2><%= className %></h2>
    <% students.forEach(function(student) { %> 

        <div class="student">
            <p><%=student.name%></p>
            <p><%=student.sex%></p>
            <a href="#"><i class="far fa-edit"></i></a>
            <a href="#"><i class="far fa-trash-alt"></i></a>
        </div>
        

    <% }) %>
    
    
    
</header>
