<%- include ('../partials/head'); %>

<header>
    <%- include ('../partials/navbar'); %>
    <h2>Create Your Teams</h2>
    <h3><%= classroom.className %></h3>
    
</header>
<main id="gameFormClassroomData" data-classroom_id="<%= classroom._id %>">
    <div>
        <p>Current Students: <%= students.length %></p>
    </div>
    <div class="errors"></div>
    
    <form class="gameForm" data-classroomID="<%= classroom._id %>" action="classroom/gameForm/<%= classroom._id %>">
        
        <div>
            <label for="numberOfTeams">Number of Teams</label>
            <input id="numberOfTeams" type="number" value="1">
        </div>

        

        <button id="submit">Play</button>
    </form>

    <div class="teams">
        <!-- <ul class="team">
            <li class="student">student1</li>
            <li class="student">student2</li>
            <i class="fas fa-trash-alt"></i></a>
        </ul> -->
    </div>
    
</main>

<script type="module" src="../public/js/gameForm/controller.js"></script>

</body>

</html>
    
   

        
    
    

