<%- include ('../partials/head'); %>

<header>
    <%- include ('../partials/navbar'); %>
    <div class="title__container">
        <h2 class="title">Create Your Teams</h2>
        <h3><%= classroom.className %></h3>
    </div>
    
    
</header>
<main class="classroomData" data-classroom_id="<%= classroom._id %>">
    
    <div class="errors"></div>
    
    <form class="gameForm" data-classroomID="<%= classroom._id %>">
        
        <div>
            <label for="numberOfTeams">Number of Teams</label>
            <input id="numberOfTeams" type="number" name="numberOfTeams" value="1">
        </div>

        <button id="submit">Play</button>
    </form>

    <div class="game__container">
        <div class="preview__teams"></div>
        <div class="teams">
            
            <!-- <ul class="team">
                <li class="student">student1</li>
                <li class="student">student2</li>
                <i class="fas fa-trash-alt"></i></a>
            </ul> -->
        </div>
    </div>

    
    
</main>

<script type="module" src="../public/js/team/controller.js"></script>

</body>

</html>
    
   

        
    
    

