<%- include ('../partials/head'); %>

<header>
    <%- include ('../partials/navbar'); %>
    <div class="title__container">
        <h2 class="title">Create Your Teams</h2>
        <h3><%= classroom.className %></h3>
        <div class="optionsButtons">
            <button class="refresh-studentsBtn"><i class="fas fa-sync-alt"></i></button>
            <button class="shuffle-studensBtn"><i class="fas fa-random"></i></button>
            
        </div>
    </div>
    
    
</header>
<main class="classroomData" data-classroom_id="<%= classroom._id %>">
    
    <div class="errors"></div>
    
    <form class="gameForm" data-classroomID="<%= classroom._id %>">
        
        <div>
            <label for="numberOfTeams">Number of Teams</label>
            <input id="numberOfTeams" type="number" name="numberOfTeams" value="1">
        </div>

        <button class="submit">Play</button>
    </form>

    <div class="game__container">
        <div class="preview__teams"></div>
        <div class="teams">
           
        </div>
    </div>

    
    
</main>

<script type="module" src="../public/js/team/controller.js"></script>

</body>

</html>
    
   

        
    
    

